
html {
	box-sizing: border-box;
	
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;

}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.clear {
	clear: both;
}
/* Navigation */

.links {
	float: right;	
	font-size: 1.04rem;
    margin-top: 1.7rem;
}

.links li {
	display: inline;
	margin-left: 15px;
}

.logo{
	width: 26px;
	margin-top: .9rem
}

.top-nav {
	background-color: #fff;	
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.top-nav a{
	letter-spacing: .03rem;
	text-decoration: none;

	color: #838994;

}

.top-nav a:hover{
	color:  #333333;
	transition: .5s ease;
}

.content {
	max-width: 970px;
	height: 70px;
	margin: 0 auto;	
	padding: 0px 15px;
}

a.active {
    color: #4c5058;
    font-weight: 500;
}


/* END Navigation */

/* Introduction */

.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction h1, .introduction h3 {
	color: white;
    text-align: center;
    font-weight: 300;
}

.introduction h1 {
	margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
/* End Introduction */

/* Cases (3 pic) */

section.cases {
	height: 40.938rem;
	overflow:auto;
}
.cases {
	text-align: center;
	}
.cases h1{
	margin: 5.175em 0 3.375em 0;
	font-weight: lighter;
}
.cases img {
	height: 127px;
	width: auto;
}
.cases li{
	display: inline-block;	
	margin: 0 4em;
}
.cases h3 {
	letter-spacing: .03em;
	font-weight: 400;
}



/* End Cases */

/* Footer */

footer {
	text-align: center;
}
i {
	color: #4099FF;
	height: 20px;
	width: 20px;
}
footer li {
	display: inline-block;
	margin: .8em .5em;
}

hr {
	border: 1px lightgrey solid;
	margin: 1.375em ;
}

.social > li{
	border: 1px black solid;
	border-radius: 100%;
	padding: 5px;
	}

/*Buttons*/

button {

	 width: 9.688rem;
    background-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.buttons button{
	color: white;
	margin: 0 auto;
    margin-top: 1.563rem;
    display: block;

}
